.customLogoClass {
    width: 15%;
    margin-left: 30px !important;
    z-index: 1;
}
.containerLogo{
    /* width: ; */
    display: flex;
    flex-direction: row;

}
.header {
    background-color: rgb(32,41,72) !important;
} 

.sidebar {
    background-color: rgb(32,41,72) !important;
}

.sideNavLinks{
    color: white !important;
    background-color: rgb(32,41,72) !important;
}


.sideNav{
    background-color: rgb(32,41,72) !important;
}

.sapTntNavLIItem {
    background-color: rgb(32,41,72) !important;
    color: white !important;
    margin: 10px 0px 10px 0px;
    border: none !important;
}

.sapTntNavLIItem:hover{
    background-color: rgb(70, 92, 173) !important;
    color: white !important;
}

.sapTntNavLIItem .sapMText {
    color: white !important;
} 

.sapUiIcon {
    color: rgb(0,171,155) !important;
}


*{
    margin: 0;
    padding: 0;
}

.customRedBackground {
    background-color: #232D4B !important; /* Using !important to override any existing background styles */
    margin: 0 !important;
}
.donut{
    margin-top: 100px;
}
.DonutSegmentColor1{
    fill: #ff4500;
}
.idJiraColumn{
    color: blue !important;
}
/* 
.consultantDetailsPage{
    overflow: scroll;
} */
.vboxConsultantTable{
    margin-top: 50px;
}
.cardTitle{
    font-weight: bold;
}